@tailwind base;
@tailwind components;
@tailwind utilities;

.rhap_progress-indicator {
    background-color: red;
}

svg {
    fill: white;
}

#rhap_current-time {
    color: white
}

.rhap_total-time, .rhap_time {
    color: white !important;
}